<li  class="list-group-item d-flex justify-content-between align-items-start">
  <div class="ms-2 me-auto">
    <div class="fw-bold">{{characteristic.versions[0].name}}</div>
  </div>
  <span class="badge bg-primary rounded-pill">{{characteristic.id}}</span>
</li>
