<div class="card">
  <div class="card-body">
    <h5 class="card-title">Offers</h5>
    <form [formGroup]="formOffer" class="card-text">
      <select class="form-select" aria-label="Default select example" id="data" formControlName="data" (change)="setOfferData()">
        <option *ngFor="let item of offers" [value]="item.versions[0].id">{{item.versions[0].id }} - {{ item.versions[0].name}}</option>
      </select>
    </form>
    <div>
      <h2>
        {{ formOffer.controls['data'].value }}
      </h2>
    </div>
  </div>
</div>
