<div class="container-auto m-5">
  <div class="col align-items-center">
    <div class="row">
      <div class="col">
        <app-offer [offers]="offers" (itemSelected)="itemSelected($event)"></app-offer>
      </div>
      <div class="col">
        <app-prices [prices]="prices"></app-prices>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <app-characteristics [characteristics]="characteristics"></app-characteristics>
      </div>
    </div>
  </div>
</div>
